*:focus {
    outline: 2px solid #f97316; /* Cambia el color del outline a rojo */
}

.transicionColor{
    transition: all 0.5s ease;
}


.transicionSlider{
    transition: all 0.5s ease-in;
}

.categoriasHover img{
    transition: transform 0.5s ease;
}

.categoriasHover:hover img{
    transform: scale(1.4);
}

.iconoHover svg{
    transition: transform 0.5s ease;
}

.iconoHover:hover svg{
    transform: scale(1.3);
}

.productosHover img{
    transition: transform 0.5s ease;
}

.productosHover:hover img{
    transform: scale(1.1);
}

.backMenu{
    background-color: #1a1a1a7a;
}

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    /* max-width: 1550px; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /* También puedes ajustar otros estilos de encabezado según tus preferencias */
}

.climateBody {
    overflow: hidden; /* Para ocultar el contenido que excede la altura */
    height: 0; /* Establecer la altura inicial en 0 */
    transition: height 1s ease; /* Animación de la altura durante 1 segundo */
}

/* Estilo para el scrollbar principal */
::-webkit-scrollbar {
   width: 10px;
}
  
/* Estilo para el track (fondo) del scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Estilo para el thumb (el deslizador) del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #333333;
}

/* Estilo cuando el thumb está siendo arrastrado */
::-webkit-scrollbar-thumb:hover {
    background-color: #3d3d3d;
}

.arrow .listArrow{
    transform: rotate(90deg);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-50%);
    }
    60% {
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-marquee {
    animation: marquee 15s alternate infinite;
}

@keyframes pequeño {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(-90%);
    }
    100% {
        transform: translateX(-90%);
    }
}

.animatesm{
    animation: pequeño 20s alternate infinite;
}

.colordd{
    color: #fee8cb;
}